html,
body {
	padding: 0;
	margin: 0;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	color: #fff;
	background-color: black;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#__next {
	height: 100%;
}
