.content {
	position: absolute;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.app {
	height: 100%;
}

.main {
	background-image: url('/images/cute.gif');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
